
h1{
    text-align:center;
    margin-bottom:1rem;
}
main{
    margin: 1rem auto;
}
.section-container{
   /** display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: space-evenly;
    margin: 1rem; **/
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin: 1rem;
    gap: 5%;
    
}
article{
    animation: 1s ease-in 1 FadeIn;
}
.card{
    text-align:start;
    border-color:black;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px black; 
}
.card-body{
    padding:0.5rem;  
}

.card-text{
    text-align: center;
    background-color:#E59958;
    border-radius: 0rem 0rem 1rem 1rem;
    padding:5%;
}
.card-body:hover::after{
    position:absolute;
    content: attr(data-price);
    bottom:0;
    right:0;
    left:0;
    top:0;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 2rem;
    background-color:#ffcb9d;
    opacity: 0.85;
    animation: 250ms ease-in 1 FadeIn;
    border-radius: 1rem;
    text-align:center;
}
.card-image{
    border-radius: 1rem 1rem 0rem 0rem;
}
